<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
<div style="width: 840px; height: 500px; text-align:center;margin:0; padding:0;">
  <ng-image-slider #nav
    [images]="imageObject"
    [infinite]="false"
    [autoSlide]="1"
    [imageSize]="{width: '25%', height: 200}"
    slideImage="1"></ng-image-slider>
</div>
<button mat-stroked-button class="BtnRemoveImage" (click)="RemoveImage()" matTooltip="Remover imagem" >
  <span class="material-icons">remove</span></button>